<div [formGroup]="personUpdateForm" class="row needs-validation mb-4" novalidate>
    <div class="col-12">
        <div class="row mb-3">
            <div class="col-12">
                <div [ngClass]="{ 'card-shadow-success': personUpdateForm.valid }" class="card card-body card-shadow-secondary mb-0 p-2">
                    <div class="row d-flex align-items-center">
                        <div class="col-12 col-md-9">
                            <p class="mb-0 px-2 py-3">
                                <i class="lnr-pushpin mr-2"></i> Diligencie la información a continuación, y posteriormente por favor haga click en el botón
                                <strong>Actualizar Persona.</strong>
                            </p>
                        </div>
                        <div class="col-12 col-md-3 d-flex justify-content-center">
                            <button *ngIf="personUpdateForm.valid" (click)="updatePerson()" [ladda]="progress" class="btn btn-pill btn-outline-success btn-outline-2x btn-block btn-lg ladda-button fast fade-in" data-style="expand-left">
								<span class="ladda-label">
									<i class="fa fa-check-circle mr-2"></i>Actualizar Persona
								</span>
								<span class="ladda-spinner"></span>
							</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-tabbed-header card-shadow-secondary">
            <ngb-tabset justify="start" class="tabs-animated tabs-animated-line">
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="fa fa-chevron-down mr-2"></i> Información de la Persona
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="card card-shadow-secondary">
                            <div class="card-body p-0">
                                <div formGroupName="basic_data" class="card card-shadow-secondary">
                                    <h5 class="card-header">Datos básicos</h5>
                                    <div class="card-body p-2">
                                        <div class="row p-2">
                                            <div class="col-12 col-md-12 col-lg-12 form-group">
                                                <!-- <required-field [control]="basicData.get('image')" label="image">Imagen :</required-field> -->
                                                <input-file fileAccept="image/*" fileLimit="1" placeholder="Foto" formControlName="image"></input-file>
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('names')" label="names">Nombres:</required-field>
                                                <input formControlName="names" id="names" placeholder="Nombre" type="text" class="form-control">
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('surnames')" label="surnames">Apellidos:</required-field>
                                                <input formControlName="surnames" id="surnames" placeholder="Apellidos de la persona" type="text" class="form-control">
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('DocumentType')" label="DocumentType">Tipo de documento:
                                                </required-field>
                                                <ng-select [items]="documentTypes" dropdownPosition="bottom" formControlName="DocumentType" id="DocumentType" bindLabel="name"></ng-select>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('documentNumber')" label="documentNumber">Número de documento:</required-field>
                                                <input formControlName="documentNumber" id="documentNumber" placeholder="numero de documento" type="number" class="form-control">
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('birthDate')" label="name">
                                                    Fecha de nacimiento:
                                                </required-field>
                                                <div class="input-group">
                                                    <input #birthDate="ngbDatepicker" (click)="birthDate.toggle()" [footerTemplate]="footerTemplate1" [readOnly]="true" ngbDatepicker placement="bottom" formControlName="birthDate" id="birthDate" class="form-control" placeholder="yyyy-mm-dd">
                                                    <div class="input-group-append">
                                                        <button (click)="birthDate.toggle()" type="button" class="btn btn-primary">
															<i class="fa fa-calendar"></i>
														</button>
                                                    </div>
                                                    <ng-template #footerTemplate1>
                                                        <hr class="my-0">
                                                        <button (click)="assignTodayDate(basicData.get('birthDate')); birthDate.close()" class="btn btn-primary btn-sm m-2 float-left">Hoy</button>
                                                        <button (click)="birthDate.close()" type="button" class="btn btn-secondary btn-sm m-2 float-right">Cerrar</button>
                                                    </ng-template>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('City')" label="City">Ciudad de nacimiento:
                                                </required-field>
                                                <ng-select [items]="cities" dropdownPosition="bottom" formControlName="City" id="City" bindLabel="name"></ng-select>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('Gender')" label="Gender">Genero:
                                                </required-field>
                                                <ng-select [items]="genders" dropdownPosition="bottom" formControlName="Gender" id="Gender" bindLabel="name"></ng-select>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('phone')" label="phone">Telefono:</required-field>
                                                <input formControlName="phone" id="phone" placeholder="Número de telefono" type="number" class="form-control">
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('cell')" label="cell">Celular:</required-field>
                                                <input formControlName="cell" id="cell" placeholder="Número de celular" type="number" class="form-control">
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('email')" label="documentNumber">Correo :</required-field>
                                                <input formControlName="email" id="email" placeholder="Correo" type="text" class="form-control">
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('addressResidence')" label="addressResidence">Dirección de residencia :</required-field>
                                                <input formControlName="addressResidence" id="addressResidence" placeholder="Dirección de residencia" type="text" class="form-control">
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('Neighbourhood')" label="Neighbourhood">Barrio :
                                                </required-field>
                                                <ng-select [items]="neighbourhoods" dropdownPosition="bottom" formControlName="Neighbourhood" id="Neighbourhood" bindLabel="name"></ng-select>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('occupation')" label="occupation">Ocupación :</required-field>
                                                <input formControlName="occupation" id="occupation" placeholder="Ocupación de la persona" type="text" class="form-control">
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('rh')" label="rh">RH :</required-field>
                                                <input formControlName="rh" id="rh" placeholder="RH" type="text" class="form-control">
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('eps')" label="eps">EPS :</required-field>
                                                <input formControlName="eps" id="eps" placeholder="EPS de la persona" type="text" class="form-control">
                                            </div>

                                            <div class="col-12 col-md-6 col-lg-4 form-group ">
                                                <required-field [control]="basicData.get( 'observations') " label="observations ">
                                                    Observaciones:</required-field>
                                                <textarea formControlName="observations" id="observations" class="form-control " rows="1 "></textarea>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('stratum')" label="stratum">Estrato :</required-field>
                                                <input formControlName="stratum" id="stratum" placeholder="Estrato" type="number" class="form-control">
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('levelSisben')" label="levelSisben">Nivel Sisben :</required-field>
                                                <input formControlName="levelSisben" id="levelSisben" placeholder="Nivel Sisben" type="number" class="form-control">
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('PersonType')" label="PersonType">Tipo de persona :
                                                </required-field>
                                                <ng-select [items]="personTypes" dropdownPosition="bottom" formControlName="PersonType" id="PersonType" bindLabel="name"></ng-select>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 form-group">
                                                <required-field [control]="basicData.get('meansContact')" label="meansContact">Nombre de Contacto :</required-field>
                                                <input formControlName="meansContact" id="meansContact" placeholder="Nombre del contacto" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>