<div [formGroup]="reactiveForm">
  <div class="row">
    <div class="col-12">
      <div class="card main-card mb-12">
        <div class="card-header">
          Datos De la sede
        </div>
        <div class="card-body">
          <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step>
              <ng-template matStepLabel>Datos Básicos</ng-template>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <mat-form-field class="form-field-dynamic-width">
                    <mat-label>Barrio</mat-label>
                    <mat-select required formControlName="arrayNeighborhood">
                      <mat-option *ngFor="let array of arrayNeighborhood" [value]="array.id">
                        {{ array.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-4">
                  <mat-form-field class="form-field-dynamic-width">
                    <input matInput placeholder="Nombre Sede" required formControlName="name">
                    <mat-error *ngIf="hasErrorControl('name')">{{ getErrorMessage('name') }}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-4">
                  <mat-form-field class="form-field-dynamic-width">
                    <textarea matInput placeholder="Observaciones" required formControlName="observation"></textarea>
                    <mat-error *ngIf="hasErrorControl('observation')">{{ getErrorMessage('observation') }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-4">
                  <mat-form-field class="form-field-dynamic-width">
                    <input matInput [matDatepicker]="pickerInitialDate" placeholder="Fecha " formControlName="createAt">
                    <mat-datepicker-toggle matSuffix [for]="pickerInitialDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerInitialDate [disabled]="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </mat-step>
          </mat-vertical-stepper>
        </div>
        <div class="card-footer" [ngStyle]="{'display': 'block', 'text-align': 'right'}">
          <button mat-raised-button color="primary" class="btn-responsive" (click)="create()" [disabled]="reactiveForm.invalid">
            REGISTRAR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>