<!-- <div class="card card-plain">
    <div class="card-header card-header-primary">
        <h4 class="card-title">{{title}}</h4>
        <p class="card-category">{{description}}
        </p>
    </div>
</div> -->
<div class="app-page-title">
	<div class="page-title-wrapper">
		<div class="page-title-heading">
			<div class="page-title-icon">
				<i class="icon {{icon}}"></i>
			</div>
			<div>
				{{title}}
				<div class="page-title-subheading">
					{{description}}
				</div>
			</div>
		</div>
		<div class="page-title-actions">
			<ng-content></ng-content>
		</div>
	</div>
</div>