<div class="body">
  <div class="login-box">
    <img src="assets/img/logoP.png" class="avatar" alt="Avatar Image">
    <h1>Inicio</h1>
    <form [formGroup]="formLogin" (submit)="getLogin(formLogin.value)">
      <!-- USERNAME INPUT -->
      <!--<label for="username">Usuario</label>-->
      <input type="text" id="name" placeholder="Nombre de Usuario" formControlName="name"  maxlength=20>
      <!-- PASSWORD INPUT -->
      <!--<label for="password">Contraseña</label>-->
      <input type="password" id="password" placeholder="Contraseña" formControlName="password" maxlength=20>
      <input type="submit" [disabled]="!formLogin.valid" value="Ingresar">
      <!--<a href="#">Lost your Password?</a><br>
          <a href="#">Don't have An account?</a>-->
      <div class="form-group">
        <div class="alert alert-danger" *ngIf="mensaje">{{mensaje}}</div>
      </div>
    </form>
  </div>
</div>