<div class="modal-header-popup">
	<h4 class="modal-title text-left">
		{{ title }}
	</h4>
	<button type="button" mat-icon-button (click)="handleTapCloseButton()">
		<fa name="times"></fa>
	</button>
</div>
<div divider></div>
<div class="modal-body-popup body-max-expanded">
	<ng-template #templateWrapper></ng-template>
</div>
<!-- <div class="modal-footer align-space-between">
	<button *ngIf="hasButtonCancel" mat-raised-button color="warn" (click)="handleTapCloseButton()">Cancelar</button>
	<button *ngIf="hasButtonConfirm" mat-raised-button color="primary"
		(click)="handleTapCloseButton()">Confirmar</button>
</div> -->