<div [formGroup]="trainingTypeUpdateForm" class="row needs-validation mb-4">
	<div class="col-12">
		<div class="row mb-3">
			<div class="col-12">
				<div [ngClass]="{ 'card-shadow-success': trainingTypeUpdateForm.valid }"
					class="card card-body card-shadow-secondary mb-0 p-2">
					<div class="row d-flex align-items-center">
						<div class="col-12 col-md-9">
							<p class="mb-0 px-2 py-3">
								<i class="lnr-pushpin mr-2"></i>
								Diligencie la información a continuación, y posteriormente por favor haga click en el botón
								<strong>Actualizar nivel académico.</strong>
							</p>
						</div>
						<div class="col-12 col-md-3 d-flex justify-content-center">
							<button *ngIf="trainingTypeUpdateForm.valid" (click)="UpdatetrainingType()" [ladda]="progress"
								class="btn btn-pill btn-outline-success btn-outline-2x btn-block btn-lg ladda-button fast fade-in"
								data-style="expand-left">
								<span class="ladda-label">
									<i class="fa fa-check-circle mr-2"></i>Actualizar nivel académico
								</span>
								<span class="ladda-spinner"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-tabbed-header card-shadow-secondary">
			<ngb-tabset justify="start" class="tabs-animated tabs-animated-line">
				<ngb-tab>
					<ng-template ngbTabTitle>
						<i class="fa fa-chevron-down mr-2"></i>
						Información nivel académico
					</ng-template>
					<ng-template ngbTabContent>
						<div class="card card-shadow-secondary">
							<div class="card-body p-0">
								<div formGroupName="basic_data" class="card card-shadow-secondary">
									<h5 class="card-header">Datos básicos</h5>
									<div class="card-body p-2">
										<div class="row p-2">
											<div class="col-12 col-md-12 col-lg-12 form-group">
												<required-field [control]="basicData.get('name')" label="name">Nombre:</required-field>
												<input formControlName="name" id="name" placeholder="Nombre del Grado" type="text" class="form-control">
                                            </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
		</div>
	</div>
</div>